* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
  }

  .logo {
    width: 250px;
}

body {
    font-family:"Schibsted Grotesk", sans-serif;
    background-image: url("../images/fondo2.webp");
    background-size: cover;


}