@import 'core/reset';
@import "layout/CharactersDetail.scss";
@import "layout/CharactersList.scss";
@import "layout/CharactersCard.scss";
@import "layout/Main.scss";

.logo {
    width: 250px;
}

body {
    font-family:"Schibsted Grotesk", sans-serif;
    background-image: url("../images/fondo2.webp");
    background-size: cover;


}